<header>
    <a routerLink="" routerLinkActive="active" class="title">cine 80~90</a>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="moviecards" routerLinkActive="active">Movies</a>
        <a routerLink="about" routerLinkActive="active">About</a>
        <a routerLink="contact" routerLinkActive="active">Contact</a>
    </nav>
    <!-- <div><input type="search" placeholder="Search movie"><button>search</button></div> -->
</header>