<div class="div-about">
    <h1>👋 Bienvenue sur {{ "cine 80~90 !" | lowercase }}</h1>
    <p>Il s'agit d'une application web affichant la liste des 100 films les plus populaires sortis dans les <u>années 80
            et 90.</u></p>
    <p>Il a été réalisé en Angular suite à ma formation sur ce framework.</p>
    <ul>
        <li>Projet de type SPA (Single Page Application)</li>
        <li>Création de <b>components</b></li>
        <li>Mise en place d'un système de <b>routing</b> pour la navigation entre les pages</li>
        <li>Mise en place d'un <b>service logique</b> fournissant l'ensemble des données filmographique via
            l'utilisation de <b>l'API "The Movie Database (TMDB)"</b></li>
        <li>Utilisation de la <b>directive</b> *ngFor pour lister les données</li>
        <li><b>String interpolation</b>, <b>Attribute binding</b>, <b>Event binding</b>, <b>Pipes</b> pour le formatage
            des données</li>
        <li>Préprocesseur <b>SASS</b> (CSS with superpowers 🏋️‍♀️) pour le design de l'application</li>
        <li><b>Typescript</b> pour un typage strict</li>
    </ul>
    <p>Très bonne visite !</p>
    <nav>
        <a>HTML</a>
        <a>SASS</a>
        <a>TYPESCRIPT</a>
        <a>ANGULAR</a>
        <a>API</a>
        <a>NODE</a>
    </nav>
</div>