footer {
    background-color: #263238;
    display: flex;
    justify-content: center;

    height: 8dvh;
    // clear: both;
    // position: relative;
    // height: 5vh;
    // margin-top: -5vh;
    a {
        color: #eee;
        align-self: center;
        text-decoration: none;
    }
}
