.landing-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 70%;
    margin: 0 auto;
    img {
        margin: 0px auto;
        width: 100%;
    }
}

.landing-links {
    width: 100%;
    text-align: center;

    button {
        background: transparent;
        color: #fff;
        font-size: 36px;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 10px solid #fff;
        vertical-align: bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: flex-end;
        vertical-align: bottom;
        justify-content: center;
        span {
            display: block;
            font-size: 100px;
        }
    }
}
